polars
pandas
numpy<2
tqdm
bertopic
bertopic[flair,gensim,spacy,use]
bertopic[vision]
pyarrow
accelerate 
bitsandbytes 
xformers 
adjustText
umap
sentence-transformers
torch
umap-learn
hdbscan
uv
seaborn
matplotlib
groq
tensorflow-cpu
umap-learn
llama-index==0.10.14
llama-index-llms-groq
import mpld3 
